.m-cart{
	.topimg{
		height: 1rem;
		width: 100%;
	}
	.cartNone{
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);
		img:nth-child(){
			height: 1rem;
			width: 100%;
		}
		img:nth-child(1){
			margin-top: .35rem;
			height: .8rem;
			width: .8rem;
		}
		p{
			margin-top: .36rem;
		}
		.btn{
			@include border($border-width:4px,$border-color:#fab300,$radius:5px);
			margin-top: .32rem;
			color: #fab300;
			height: .48rem;
			width: 1.66rem;
			line-height: .48rem;
			text-align: center;
		}
	}
	.cartHave{
		.yo-ico{
			img{
				width: .25rem;
			}
		}
		.flex{
			font-size: .15rem;
		}
		.cartList{
			margin-top: .5rem;
			width: 100%;
			ul{
				li{
					padding: .1rem;
					@include flexbox();
					@include align-items(center);
					@include justify-content(space-around);
					@include border($border-width:0 0 1px 0,$border-color:#ccc);
					height: 1.25rem;
					background: #fff;
					.img{
						@include flex(1);
						@include flexbox();
						@include align-items(center);
						@include justify-content(space-around);
						img:nth-child(1){
							width: .25rem;
						}
						img:nth-child(2){
							@include flex(1);
							width: .6rem;
							height: .95rem;
						}
					}
					.info{
						height: .9rem;
						@include flex(2);
						@include flexbox();
						@include flex-direction(column);
						@include justify-content(space-between);
						div{
							@include flexbox();
							@include justify-content(space-between);
							.price{
								color: #ffab05;
								margin-top: .1rem;
							}
							.number{
								width: .9rem;
								height: .3rem;
								@include flexbox();
								@include justify-content(space-between);
								@include border($border-width: 1px,$border-color:#ccc,$radius:3px);
								span{
									display: inline-block;
									width: .24rem;
									text-align: center;
									line-height: .3rem;
								}
								.minus{
									color: #aaa;
									@include border($border-width: 0 1px 0 0,$border-color:#ccc,$radius:3px);
								}
								.plus{
									color: #aaa;
									@include border($border-width: 0 0 0 1px ,$border-color:#ccc,$radius:3px);
								}
								.disable{
									background: #eee;
								}
								input{
									line-height: .3rem;
									text-align: center;
									@include flex(1);
								}
							}
						}
					}
				}
			}
		}
	}
	.bottom{
		position: absolute;
		bottom: 0;
		background: #fff;
		height: .51rem;
		width: 100%;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
		img{
			width: .25rem;
			margin-left: .1rem;
		}
		.heji{
			margin-right: .5rem;
			p:nth-child(1){
				color: #ec8c9b;
			}
			p:nth-child(2){
				color: #9b9b9b;
			}
		}
		.js{
			line-height: .51rem;
			text-align: center;
			color: #fff;
			font-size: .15rem;
			width: 1.13rem;
			height: 100%;
			background: #feae01;
		}
	}
}
