@import "../component/carousel";
@include yo-carousel(

){
	$btn-bgcolor:#EEC900;
	$btn-size:.1rem
}
.m-detail{
	width:100%;
	height:100%;
	.cont{
		width:100%;
		li.item{
			background-color:#fff;
		}
		img{
			width:80%;
		}
	}
}