@import "../component/carousel";
@include yo-carousel(

){
	$btn-bgcolor:#EEC900;
	$btn-size:.1rem
}
.m-detail{
	width:100%;
	height:100%;
	background-color:#fff;
	.scroller{
		position: relative;
		height: auto;
	}
	.cont{
		width:100%;
		li.item{
			background-color:#fff;
		}
		img{
			width:80%;
		}
	}
	div.yo-carousel{
		height:3.75rem;
	}
	.yo-scroller-fullscreen{
		margin-bottom:.46rem;
	}
	.detaiTitle{
		border-bottom:1px dotted #999;
		p{
			text-indent: .2rem;
			font-size:.12rem;
			padding:.1rem 0 0 0;
		}
		span{
			display:inline-block;
			color:rgba(254, 175, 0, 1);
			margin:.1rem .2rem;
			font-size:.12rem;
		}
	}
	.detailFooter{
		width:100%;
		height:.44rem;
		position:fixed;
		bottom:0;
		left:0;
		background:#fff;
		z-index:99;
		border-top:1px solid #eee;
		@include flexbox();
		@include flex-direction();
		span{
			@include flex(1);
			line-height:.44rem;
			display:inline-block;
			height:100%;
			text-align:center;
			border-right:1px solid #eee;
			@include border($border-width :0 1px 0 0, $border-color: #eee);
			img{
				width:.3rem;
			}
		}
		span.toCat{
			@include flex(3);
			border:0;
			background:rgba(254, 175, 0, 0.8);
			color:#fff;
		}
	}
	.productPrice{
		background:#fff;
		span{
			display:block;
			text-indent:.2rem;
			font-size:.12rem;
			color:#999;
		}
		#price{
			color:#e53569;
			font-size:.16rem;
		}
	}
	.ProductInformation{
		width:100%;
		margin-top:.4rem;
		border-bottom:.1rem;
		ul{
			@include flexbox();
			@include flex-direction();
			width:100%;
			height:.4rem;
			li{
				width:100%;
				height:100%;
				a{
					display:block;
					width:100%;
					height:100%;
					color:#333;
				}
				@include flex(1);
				text-align:center;
				width: 100%;
				line-height:.4rem;
			}
			.liFirst{
				@include border($border-width :0 0 3px 0, $border-color: red);
			}
		}
	}
	.Image{
		width:100%;
		height:100%;
		overflow:hidden;
		img{
			width:100%;
			height: 4rem;
		}
	}
	.Shopowner{
		padding-left:.2rem;
		width:100%;
		height:.5rem;
		margin:.1rem 0;
		background-color:#fff;
		.pTitle{
			width:100%;
			margin-left:3rem;
			color:#999;
			margin-bottom:.3rem;
		}
		.name{
			color:#999;
			margin-top:.3rem;
			margin-left:.03rem;
			font-size:.12rem;
			span{
				font-size:.14rem;
				display:inline-block;
				text-indent:.1rem;
				border:1px solid rgba(254, 175, 0, 0.8);
				color:#rgba(254, 175, 0, 0.8);
				width:.8rem;
				line-height:.2rem;
				margin-left:.3rem;
			}
		}
		.img{
			border:1px solid #333;
			border-radius:50%;
			width:.5rem;
			height:.5rem;
			float:left;
			margin-right:.1rem;
			img{
				border-radius:50%;
				width:.5rem;
				height:.5rem;
			}
		}
	}
	.address{
		background:#fff;
		margin:.1rem 0;
		p{
			padding:.3rem .2rem;
			span{
				display:inline-block;
			}
			.song{
				float:left;
			}
			.xie{
				float:right;
				img{
					width:.1rem;
				}
			}
		}
	}
}
