@import "../element/yo-btn";
.register{
	font-family: "黑体";
	position: relative;
	height: 100%;
	.content{
		@include flexbox();
		@include flex-direction(column);
		@include justify-content(center);
		@include yo-btn(
			$width:90%,
			$height:.5rem,
			$radius:2px
		);
		.label{
			height: .15rem;
		}
		.yo-btn{
			margin:.1rem auto;
			a{
				color: #fff;
			}
		}
		.item{
			input{
				padding-top:.05rem;
				width: 100%;
			}
			.ico{
				font-size: .22rem;
			}
			.info{
				width: 1.10rem;
				background: #fff;
				border: none;
				height: .49rem;
				position: absolute;
				right: 0;
				border-left:1px #eee solid;
				padding-left: .2rem;
				padding-right: .1rem;
			}
		}
		.pp{
			color: #606060;
			width: 90%;
			margin: .2rem auto;
			color: #8c8984;
			a{
				color: #474746;
			}
			input{
				width: .25rem;
				height: .25rem;
				position: relative;
				top: .08rem;
				border: none;
				border: 1px;
			}
		}
		.p1{
			width: 90%;
			margin: .2rem auto;
			color: #8c8984;
			.register{
				float: left;
			}
			a{
				color: #8c8984;
			}
			span{
				color: #474746;
			}
		}

	}
}
