.m-search{
	background:#fff;
	width:100%;
	height:100%;
	header{
    height:.44rem;
    color:#333;
    z-index:999;
    position:relative;
    top:0;
    background:#fff;
    left:0;
    @include border(0 0 1px 0, #999);
    ul{
      width:100%;
      height:100%;
      position:relative;
      @include flexbox();
      @include flex-direction();
        li:nth-child(1){
          @include flex(1);
          span{
            display:block;
            width:100%;
            height:100%;
            @include flexbox();
            @include flex-direction();
            @include align-items(center);
            @include justify-content(center);
            img{
              width:.2rem;
              height:.2rem;
            }
          }
        }
        li:nth-child(2){
           @include flex(7);
     	}
        li:nth-child(3){
          @include flex(1);
          span{
            display:block;
            width:100%;
            height:100%;
            @include flexbox();
            @include flex-direction();
            @include align-items(center);
            @include justify-content(center);
          }
        }
        .leftSearch{
        	position:absolute;
        	z-index:99;
        	right:.6rem;
        	img{
        		width:0.2rem;
        	}
        }
    @include border(1px 0 0 0, #999);
	}
}
.screen{
	z-index:999;
    position:relative;
    left:0;
    background:#fff;
	ul{
		@include border(0 0 1px 0, #999);
		height:.44rem;
		width:100%;
		@include flexbox();
   		@include flex-direction();
   		@include align-items(center);
	}
	.screenFirst{
		width:100%;
		height:.44rem;
		li:nth-child(1){
			@include flex(8);
			height:.44rem;
			@include flexbox();
   			@include flex-direction();
   			@include align-items(center);
			span{
				display:inline-block;
				@include flex(1);
				height:100%;
				color:#333;
				line-height:.44rem;
				text-align:center;
			}
			.active{
				color: rgba(254, 175, 0, 1)
			}
		}
		li:nth-child(2){
			@include border(0 0 0 1px, #999);
			@include flex(2);
			height:.44rem;
			@include flexbox();
			@include flex-direction();
			@include justify-content(center);
			@include align-items(center);
			img{
				width:.3rem;
			}
		}
	}
	.screenTwo{
		li{
			@include flex(1);
			span{
				margin-left:.3rem;
				display:inline-block;
				width:1.2rem;
				height:.3rem;
				background:#eee;
				line-height:.3rem;
				text-align:center;
			}
		}
	}
    }
    .scroller{
    	margin-top:1.32rem;
    		li{
    			width:100%;
    			height:1rem;
    			@include border(0 0 1px 0, #999);
    			img{
    				width:.5rem;
    				float:left;
    				margin:.2rem;
    			}
    			.searchListTitle{
    				color:#666;
    				padding:.22rem .05rem .1rem 0;
    			}
    			.searchListPrice{
    				color:#666;
    				padding:0 .05rem .1rem 0;
    				.searchListPrice2{
    					display:block;
    					float:right;
    					margin-right:.1rem;
    				}
    			}
    		}
    }
}