@import "../../../style/usage/core/reset";
#container{
    height: 100%;
    .yo-multilist{
        width: 100%;
        height: 100%;
    }
}
.product-container{
    padding: 10px 0;
<<<<<<< HEAD
    flex: 1;
    display: flex;
}
/*.product-tit{
=======
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.product-tit{
>>>>>>> master
    width: 100%;
    color: #333;
    font-weight: normal;
    margin-left: 10px;
    text-indent: 15px;
<<<<<<< HEAD
=======
    background-image: -webkit-linear-gradient( left, #0faad6, #0faad6 3px, #fff 3px, #fff );
>>>>>>> master
    background-image: linear-gradient( to right, #0faad6, #0faad6 3px, #fff 3px, #fff );
}
.product-list{
    margin-top: 10px;
    padding: 0 5px 0 10px;
}
.product-item{
    display: inline-block;
    width: 50%;
    height: 100px;
    padding-right: 5px;
    margin-bottom: 5px;
    background-clip: content-box;
    background-image: url('https://imgs.qunarzz.com/vc/59/ce/26/b32709e446f25d3c2f517d70bd.jpg');
    color: #fff;
    line-height: 100px;
    text-align: center;
<<<<<<< HEAD
}*/
=======
}
>>>>>>> master
